/* Top Content CSS */

body {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

.content {
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20vw;
    padding-right: 20vw;
}

.top-content {
    padding: 15%;
    height: 100vh;
    text-align: center;
}

.section-header {
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 2vh;
}

.section-content {
    padding-top: 5vh;
}

.top-content .text {
    color: #fff;
    font-size: 3em;
}

.top-content .text h1 {
    margin-top: 2px;
    color: #fff;
    font-size: 2em;
}

.top-content .description {
    margin: 10px 0 10px 0;
}

/* About Me CSS */

.content:nth-of-type(2n) {
    background-color: #8dd3f0;
}

.subsection-content {
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.subsection-content:after {
    content: "";
    display: block;
    width: 25%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid black;
}

.subsection-content:last-of-type:after {
    content: "";
    border-bottom: 0px solid red;
}

.subsection-header {
    text-align: center;
}

.aboutme-box {
    font-size: 22px;
    width: 100%;
}

#resume-navbar {
    border: 0px;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 150px;
    font-size: 20px;
    z-index: 999;
    background-color: #008eb5;
    text-align: center;
    border-radius: 5px;
}

.navbar-nav > li {
    display: block;
    float: none;
    height: 60px;
} 
.navbar-nav  > li a {
    display: block;
    font-weight: 600;
    color: #FFFFFF;
}
.navbar-nav  > li a:hover, .navbar .nav > li a:focus {
    color: #999999;
}

.padding-0{
    padding-right:0;
    padding-left:0;
    margin-left:0;
    margin-right:0;
}

.section-header h3{
    font-size: 45px;
}

.subsection-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subsection-content h3 {
    text-align: center;
}

.subsection-content ul {
    list-style-position: inside;
}

.section-details-list {
    font-size: 20px;
}

/*Education CSS a1faff*/

/*Career Content */
