/*General Content */
body {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

.content {
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20vw;
    padding-right: 20vw;
}

.section-header {
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 2vh;
}

.section-header h3{
    font-size: 45px;
}

.section-content {
    padding-top: 5vh;
}

.content:nth-of-type(2n) {
    background-color: #8dd3f0;
}

.subsection-content {
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.subsection-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subsection-content h3 {
    text-align: center;
}

.subsection-content ul {
    list-style-position: inside;
}

.subsection-content:after {
    content: "";
    display: block;
    width: 25%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid black;
}

.subsection-content:last-of-type:after {
    content: "";
    border-bottom: 0px solid red;
}

.subsection-header {
    text-align: center;
}

/* Top Content CSS */
.top-content {
    padding: 15%;
    height: 100vh;
    text-align: center;
}

.top-content .text {
    color: #fff;
    font-size: 3em;
}

.top-content .text h1 {
    margin-top: 2px;
    color: #fff;
    font-size: 2em;
}

.top-content .description {
    margin: 10px 0 10px 0;
}

#down-icon {
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    border-radius: 1000px;
    bottom: 0;
    right: 0;
}

.header {
    position: relative;
}

/*aboutme content css*/
.aboutme-box {
    font-size: 22px;
    width: 100%;
}

/*career content css*/
.section-details-list {
    font-size: 20px;
}
/*Skills section css */
#abilities-content h4 {
    padding-top: 3vh;
    text-align: center;
    font-size: 30px;
}

.skills-section li {
    font-size: 20px;
}

.languages-col p {
    text-align: center;
    font-size: 18px;
}

#familiar {
    text-align: center;
}

/*navbar css*/
#resume-navbar {
    position: absolute;
}
.navbar-nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 20px;
}

.navbar-nav li a {
    display: block;
}

.navbar-nav li a:hover {
    background-color: darkgrey;
    color: white;
    font-size: 25px;
}
.active {
    background-color: grey;
}

.active a {
    color: white;
}

/*footer css*/

#footer-section {
    background: grey;
    box-shadow: 0 50vh 0 50vh grey;
    text-align: center;
}
#contact-list p {
    margin-left: 100px;
}
#contact-list li{
    display: inline-block;  
    list-style: none;
    white-space: nowrap;
    padding-top: 40px;
    padding-right: 25px;
}
