/*General Content */
body {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

/*site navbar css */

#website-navbar {
	position: fixed;
	top: 0px;
    height: 5vh;
    width: 100%;
}

#website-navbar li {
    padding: 25px;
}

#website-navbar a {
    color: white;
}

.header {
    height: 50vh;
    padding-top: 2%;
}

/*warning css */
#warning {
	text-align: center;
}

#warning h1{
	color: black;
	font-size: 75px;
}