/*General Content */
body {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

.content {
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20vw;
    padding-right: 20vw;
}

.section-header {
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 2vh;
}

.section-header h3{
    font-size: 45px;
}

.section-content {
    padding-top: 5vh;
}

.content:nth-of-type(2n) {
    background-color: #8dd3f0;
}

.subsection-content {
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.subsection-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subsection-content h3 {
    text-align: center;
}

.subsection-content ul {
    list-style-position: inside;
}

.subsection-content:after {
    content: "";
    display: block;
    width: 25%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid black;
}

.subsection-content:last-of-type:after {
    content: "";
    border-bottom: 0px solid red;
}

.subsection-header {
    text-align: center;
}

/* Top Content CSS */

.header-title {
    padding: 15%;
    height: 95vh;
    text-align: center;
}

.header-title .text {
    color: #fff;
    font-size: 3em;
}

.header-title .text h1 {
    margin-top: 2px;
    color: #fff;
    font-size: 2em;
}

#down-icon {
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    border-radius: 100px;
    bottom: 10px;
    right: 0px;
    animation: move 2s ease infinite;
}

@keyframes move {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*Site navbar css */
#website-navbar {
    height: 5vh;
    width: 100%;
}

#website-navbar li {
    padding: 25px;
}

#website-navbar a {
    color: white;
}


/*aboutme content css*/
.aboutme-box {
    font-size: 22px;
    width: 100%;
}

/*career content css*/
.section-details-list {
    font-size: 20px;
}

/*Skills section css */
#abilities-content h4 {
    padding-top: 3vh;
    text-align: center;
    font-size: 30px;
}

.skills-section li {
    font-size: 20px;
}

.languages-col p {
    text-align: center;
    font-size: 18px;
}

/*navbar css*/

#resume-navbar .navbar-nav {
    list-style-type: none;
    text-align: center;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 20px;
}

#resume-navbar .navbar-nav li a {
    display: block;
}

#resume-navbar .navbar-nav li a:hover {
    background-color: darkgrey;
    color: white;
    font-size: 25px;
}
#resume-navbar .active {
    background-color: grey;
    border-radius: 3px;
}

#resume-navbar .active a {
    color: white;
}

/*footer css*/

#footer-section {
    background: #c9f0ff;
    box-shadow: 0 50vh 0 50vh #c9f0ff;
    text-align: center;
}
#contact-list p {
    margin-left: 100px;
}
#contact-list li{
    display: inline-block;  
    list-style: none;
    white-space: nowrap;
    padding-top: 40px;
    padding-right: 25px;
}
